<%= render "modal" %>

<div id="top" class="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <span data-picture data-alt="background">
        <span data-src="<%= image_path('background.jpg') %>"></span>
        <span data-src="<%= image_path('background_small.jpg') %>" data-media="(max-width: 768px)"></span>
      </span>
      <div class="carousel-caption container">
        <h1>Hack for a Place</h1>
        <p>Everyone has a favourite place, but not every place has a website.</p>
        <p><a class="btn btn-large btn-primary" data-toggle="modal" href="#modal" data-behavior="joke_clue" title="Get the pun?">Let's build one</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

      <section role="intro" id="intro" class="lead">
        <p>
          Once in a while, we stumble upon a place that gives something new. Something unique. Or something like good food, everyone likes good food right?
        </p>
        <p>
          Restaurants, shops, bars. These are what make Toronto special. They make life just a bit better.
        </p>
        <p>
          Big companies now have apps, but some places don't even have a website. The old websites aren't great either.
        </p>
        <p>
          So let's connect and celebrate our favourite places by building them a website.
        </p>
      </section>

      <section role="the_plan" id="the_plan">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <h2>The Plan</h2>
            <% [
                       "Sign up!",
                       "We help you form a team and match your team with a place.",
                       "All teams will build a website for your favourite place together in one day."
               ].each_with_index do |step, index| %>
                <div class="media row">
                  <div class="col-lg-3 col-3">
                    <h3 class="text-muted">
                      <%= index + 1 %>
                    </h3>
                  </div>
                  <div class="col-lg-9 col-9 media-body lead">
                    <div><%= step %></div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </section>


      <section role="details" id="details">
        <h2>Details</h2>
        <%
           [
                   {
                           q: "Why",
                           a: "To celebrate our favourite places by building them a website."
                   },
                   {
                           q: "When",
                           a: "To be decided. On a Saturday in the following months."
                   },
                   {
                           q: "Where",
                           a: "Stone Soup Innovation Lab &mdash; 47a Fraser Ave, Toronto M6K 1Y7"
                   }
           ].each do |q_a|
        %>
            <div class="row">
              <div class="col-lg-3">
                <h3><%= q_a[:q] %></h3>
              </div>
              <div class="col-lg-9 answer lead">
                <%= q_a[:a].html_safe %>
              </div>
            </div>
        <% end %>

        <div data-behavior="map" class="map"></div>
      </section>

      <section role="about_us" id="about_us">
        <h2>About Us</h2>
        <% [
                   {
                           role: "Organizer",
                           name: "Placemark",
                           url: "http://www.placemarkhq.com",
                           description: "Placemark is about saving your favourite places as easily as possible."
                   },
                   {
                           role: "Host",
                           name: "Stone Soup",
                           url: "http://www.stonesouphq.com",
                           description: "We help businesses succeed."
                   }
           ].each do |company| %>
            <div class="media">
              <%= link_to company[:url], class: "pull-left", target: "_blank" do %>
                  <%= image_tag "icon_#{company[:name].underscore.gsub(/\s/, "_")}.png", class: "media-object" %>
              <% end %>
              <div class="media-body">
                <div>
                  <h4><%= company[:name] %> <small class="text-muted"><%= company[:role] %></small></h4>
                  <p><%= company[:description] %></p>
                </div>
              </div>
            </div>
        <% end %>
      </section>
    </div>
  </div>

  <div class="end">
    <a href="#top" data-behavior="scroll_to tipsy show_joke_clue" class="btn btn-primary" title="You'll get the pun when you click.">Sign Up!</a>
  </div>

  <footer class="clearfix">
    <small class="pull-right">Website by <%= link_to "Placemark", "http://www.placemarkhq.com", target: "_blank" %></small>
  </footer>
</div>