<div id="top" class="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img data-src="holder.js/1500x500/auto/#777:#7a7a7a/text:Picture of Toronto" alt="">
      <div class="carousel-caption container">
        <h1>Hack for a Place</h1>
        <p>Everyone has a favourite place, but not every place has a website.</p>
        <p><a class="btn btn-large btn-primary" href="#">Let's build one</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container marketing">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="row points">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <h2 id="the_plan">The Plan</h2>
          <% [
                     "Sign up!",
                     "We help you form a team and match your team with a place.",
                     "All teams will build a website for your favourite place in a day."
             ].each do |step| %>
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object img-circle" data-src="holder.js/72x72">
                </a>
                <div class="media-body lead">
                  <div><%= step %></div>
                </div>
              </div>
          <% end %>
        </div>
      </div>


      <div class="details">
        <h2 id="details">Details</h2>
        <%
            [
                    {
                            q: "Why",
                            a: "Let's celebrate our favourite places by building them a website."
                    },
                    {
                            q: "Where",
                            a: "Stone Soup Innovation Lab - 47a Fraser Ave, Toronto M6K 1Y7"
                    },
                    {
                            q: "When",
                            a: "To be decided. On a Saturday in the following months."
                    }
            ].each do |q_a|
        %>
            <div class="row">
              <div class="col-lg-2">
                <h3><%= q_a[:q] %></h3>
              </div>
              <div class="col-lg-10 answer lead">
                <%= q_a[:a] %>
              </div>
            </div>
            <% end %>

      </div>
      <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.google.ca/maps?sll=43.6568775,-79.32085&amp;sspn=0.763349351799743,1.407190298341395&amp;t=m&amp;q=47+Fraser+Ave,+Toronto,+ON+M6K+1Y7&amp;dg=opt&amp;ie=UTF8&amp;hq=&amp;hnear=47+Fraser+Ave,+Toronto,+Toronto+Division,+Ontario+M6K+1Y7&amp;z=14&amp;ll=43.637286,-79.423855&amp;output=embed"></iframe>

      <h2 id="about_us">About Us</h2>
      <% [
                 {
                         role: "Organizer",
                         name: "Placemark",
                         description: "Placemark is about saving your favourite places as easily as possible."
                 },
                 {
                         role: "Host",
                         name: "Stone Soup",
                         description: "We help businesses succeed."
                 }
         ].each do |company| %>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" data-src="holder.js/72x72">
            </a>
            <div class="media-body">
              <div>
                <h4><%= company[:name] %> <small class="text-muted"><%= company[:role] %></small></h4>
                <p><%= company[:description] %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>

  <div class="end">
    <small><a href="#top" data-behavior="scroll_to">Back to top</a></small>
  </div>

  <footer class="clearfix">
    <small class="pull-right">Website by <%= link_to "Placemark", "http://www.placemarkhq.com", target: "_blank" %></small>
  </footer>
</div>